// Loading default bootstrap jumbotron class
//@import '../../vendors/bootstrap/less/jumbotron';


//jumbotron bootstrap class overrides

.jumbotron {
  .caption {
    background-color: rgba(255,255,255, .8);
    padding: 20px;
    width: 30%;
  }
}
