// Loading default bootstrap thumbnails class
//@import '../../vendors/bootstrap/less/thumbnails';


//thumbnails bootstrap class overrides
.thumbnail {
  background-color: @bp-light-grey;
  border: none;
  border-bottom: 4px solid @bp-lightgreen;
  padding: 0px;
}
