@import "../../vendors/bootstrap/less/variables";

//*******************************************//
// *************** OVERRIDES *************** //
//*******************************************//

// ************************************** //
// **************** VARS **************** //
//    http://getbootstrap.com/customize   //
// ************************************** //

// **************** 0 - CUSTOM VARS **************** //
// ************************************************* //

//TODO Fix vars import in _footer.less / @bp-font-light
//TODO Fix vars import in bp-thumbnails.less / @bp-light-grey and @bp-lightgreen
//TODO Fix vars import in bp-well.less / @bp-lightgreen
// -------------------------------------- //
// - - - - - - - - Colors - - - - - - - - //
@bp-green: #009900;
@bp-lightgreen: #99CC00;
@bp-yellow: #FFE600;
@bp-white: #FFFFFF;

@bp-brightgreen: #ccff00;
@bp-darkgreen: #006633;
@bp-darkblue: #000099;

@bp-silver: #999999;
@bp-darkgrey: #666666;
@bp-light-grey: #F2F2F2;
@bp-purple: #660099;
@bp-orange: #ff6600;
@bp-blue: #009EE0;

@bp-font-dark: #666666;
@bp-font-light: #999999;

// - - - - - - - -  Scaffolding - - - - - - - - //
@bp-line-height-base: 1.3;
@bp-base-gray: #FAFAFA;

@bp-border-radius-base: 0px;

// - - - - - - - - Bootstrap components - - - - - - - - //
@bp-well-bg: #F5F5F5;

@bp-list-group-bg: #EEEEEE;

@bp-panel-inner-border: #F2F2F2;
// -------------------------------------- //
// **************** 0 - end CUSTOM VARS **************** //




// **************** 1 - BOOTSTRAP VARS OVERRIDES**************** //
// ************************************************************* //
// ------ color palette  - Main colors ------ //
@gray-base: @bp-base-gray;
@brand-primary: @bp-green;
//@brand-success: blue;
//@brand-info: beige;
//@brand-warning: beige;
//@brand-danger: beige;

// ------ Scaffolding ------ //
@body-bg: @bp-white;
@text-color: @bp-font-dark;
@link-hover-decoration: underline;
@border-radius-base: 0px;
@border-radius-large: 0px;
//@link-color: @bp-green;
//@link-hover: @bp-lightgreen;

// ------ Typography ------ //
//@font-family-sans-serif: ;
//@font-family-serif: ;
//@font-family-monospace: ;
//@font-size-base: ;
@line-height-base: @bp-line-height-base;
// **************** 1 - end BOOTSTRAP VARS OVERRIDES**************** //



// **************** 2 - BOOSTRAP COMPONENTS OVERRIDES**************** //
// ****************************************************************** //

// http://getbootstrap.com/customize/

// ------ Iconography ------ //


// ------ Components ------ //
//@component-active-color: yellow;
//@component-active-bg: red;


// ------ Tables ------ //


// ------ Buttons ------ //
@btn-default-bg: @bp-darkgrey;
@btn-primary-bg: @brand-primary;
//@btn-default-color: ;
@btn-default-color: @bp-white;
//@btn-default-bg: @bp-green;
//@btn-primary-bg: yellow;
//@btn-default-color: @bp-white;

// ------ Dropdowns ------ //
@dropdown-bg: @bp-white;
@dropdown-link-hover-color: @brand-primary;
@dropdown-link-hover-bg: @gray-base;
@dropdown-link-active-color: @component-active-color;
// ------ Navbar ------ //


// ------ Navs ------ //


// ------ Tabs ------ //


// ------ Forms ------ //
@input-border: @gray-base;
@input-border-radius: 2px;
@input-border-focus: @brand-primary;
@input-color: @text-color;
//@input-color-placeholder: red;


// ------ Jumbotron ------ //
@jumbotron-padding: 0px;


// ------ Modals ------ //


// ------ List group ------ //
@list-group-bg: @bp-list-group-bg;
@list-group-border: @bp-white;
@list-group-border-radius: @bp-border-radius-base;
@list-group-hover-bg: @bp-well-bg;
@list-group-link-color: @bp-green;
//@list-group-link-hover-color: ;
//@list-group-link-heading-color: ;


// ------ Panels ------ //
@panel-bg: @bp-base-gray;
@panel-inner-border: transparent;
@panel-default-text: @bp-darkgreen;
@panel-default-border: @bp-panel-inner-border;
@panel-default-heading-bg: @bp-panel-inner-border;
//@list-group-active-text-color: @bp-well-bg;

// ------ Thumbnails ------ //


// ------ Wells ------ //
@well-bg: @bp-well-bg;
@well-border: transparent;


// ------ Breadcrumbs ------ //
@breadcrumb-bg: @bp-white;
@breadcrumb-color: @brand-primary;
@breadcrumb-active-color: @bp-font-light;
@breadcrumb-separator: ">";

// ------ Close ------ //
//@close-color: ;


// **************** 2 - end COMPONENTS OVERRIDES**************** //


