
@import "../../vendors/bootstrap/less/variables";

//*******************************************//
// *************** OVERRIDES *************** //
//*******************************************//

// ************************************** //
// **************** VARS **************** //
//    http://getbootstrap.com/customize   //
// ************************************** //

// **************** CUSTOM VARS **************** //
//TODO Fix vars import in _footer.less / @bp-font-light
//TODO Fix vars import in bp-thumbnails.less / @bp-light-grey and @bp-lightgreen
//TODO Fix vars import in bp-well.less / @bp-lightgreen
@bp-green: #009900;
@bp-lightgreen: #99CC00;
@bp-yellow: #FFE600;
@bp-white: #FFFFFF;


@bp-brightgreen: #ccff00;
@bp-darkgreen: #006633;
@bp-darkblue: #000099;

@bp-silver: #999999;
@bp-darkgrey: #666666;
@bp-light-grey: #F2F2F2;
@bp-purple: #660099;
@bp-orange: #ff6600;
@bp-blue: #009EE0;

@bp-font-dark: #666666;
@bp-font-light: #999999;



@bp-line-height-base: 1.3;
@bp-base-gray: #FAFAFA;


@bp-border-radius-base: 0px;

@bp-well-bg: #F5F5F5;
// **************** end CUSTOM VARS **************** //

// ------ color palette  - Main colors ------ //
@gray-base: @bp-base-gray;
@brand-primary: @bp-green;
//@brand-success: blue;
//@brand-info: beige;
//@brand-warning: beige;
//@brand-danger: beige;

// ------ Scaffolding ------ //
@body-bg: @bp-white;
@text-color: @bp-font-dark;
@link-hover-decoration: underline;
@border-radius-base: 0px;
@border-radius-large: 0px;
//@link-color: @bp-green;
//@link-hover: @bp-lightgreen;

// ------ Typography ------ //
//@font-family-sans-serif: ;
//@font-family-serif: ;
//@font-family-monospace: ;
//@font-size-base: ;
@line-height-base: @bp-line-height-base;

// ------ Iconography ------ //


// ------ Components ------ //


// ------ Tables ------ //


// ------ buttons ------ //
@btn-default-bg: @brand-primary;
//@btn-primary-bg: yellow;
//@btn-default-color: ;
@btn-default-color: @bp-white;
//@btn-default-bg: @bp-green;
//@btn-primary-bg: yellow;
//@btn-default-color: @bp-white;


// ------ Navbar ------ //


// ------ Navs ------ //


// ------ Tabs ------ //


// ------ Jumbotron ------ //
@jumbotron-padding: 0px;


// ------ Modals ------ //


// ------ List group ------ //
@list-group-bg: @bp-well-bg;
@list-group-border: @bp-white;
@list-group-border-radius: @bp-border-radius-base;
@list-group-hover-bg: lighten(@bp-well-bg ,20%);
@list-group-link-color: @bp-green;
//@list-group-link-hover-color: ;
//@list-group-link-heading-color: ;


// ------ Panels ------ //


// ------ Thumbnails ------ //


// ------ Wells ------ //
@well-bg: @bp-well-bg;
@well-border: transparent;


// ------ Breadcrumbs ------ //
@breadcrumb-bg: @bp-white;
@breadcrumb-color: @bp-font-light;
@breadcrumb-active-color: @bp-green;
@breadcrumb-separator: ">";

// ------ Close ------ //
//@close-color: ;





