
@import "../../vendors/bootstrap/less/variables";

//*******************************************//
// *************** OVERRIDES *************** //
//*******************************************//

// ************************************** //
// **************** VARS **************** //
//    http://getbootstrap.com/customize   //
// ************************************** //


@bp-green: #009900;
@bp-lightgreen: #99CC00;
@bp-yellow: #FFE600;
@bp-white: #FFFFFF;


@bp-brightgreen: #ccff00;
@bp-darkgreen: #006633;
@bp-darkblue: #000099;

@bp-silver: #999999;
@bp-darkgrey: #666666;
@bp-light-grey: #F2F2F2;
@bp-purple: #660099;
@bp-orange: #ff6600;
@bp-blue: #009EE0;

@bp-font-dark: #666666;
@bp-font-light: #999999;

// ------ color palette  - Main colors ------ //
//@brand-primary: orange;
//@brand-success: blue;
//@brand-info: beige;
//@brand-warning: beige;
//@brand-danger: beige;


// ------ buttons ------ //
//@btn-default-bg: @brand-primary;
//@btn-primary-bg: yellow;
//@btn-default-color: ;
@btn-default-color: @bp-white;
@btn-default-bg: @bp-green;
//@btn-primary-bg: yellow;
//@btn-default-color: @bp-white;


@border-radius-base: 0px;
@border-radius-large: 0px;

@bg-body: @bp-white;
@text-color: @bp-font-dark;
@link-color: @bp-green;
@link-hover: @bp-lightgreen;
@link-hover-decoration: underline;
