/* Do not change @import order
 *********************************************
 ***************** RULES *********************

 ------------------- HTML ---------------------
 - Attributes order: class, id, name, data-*, src,
 for, type, href, value, title, alt, role, aria-*

 - Reduce markups where possible

 ------------------- CSS ---------------------
 - Use variables as much as you can without colliding with Bootstrap
 - Declaration order: Positioning, Box model, Typographic, Visual
 - Don't use @import in <style> tags but links
 - Media queries must be placed near CSS declarations
 - Prefixes will be handled by autoprefixer
 - Single declarations have break lines removed
 - Limit shorthand notations where it is not needed
 - Avoid nesting more than 3 levels deep for css specificity
 - Comment as much as you can
 - Classes: avoid using custom classes and use bootstrap as much as you can
 use dashes, lowercase, avoid, arbitrary annotation, short and succinct,
 meaningful names, structural or purposal names over presentational

 - Avoid deep specificity (nesting) when styling where possible
 - Use white space, breaks when commenting with a clear hierarchy
*/

//TODO load normalize
// 0 - Imports from bootstrap
/*
  Getting bootstrap framework to be used and overwritten as necessary to match styleguide
  Bootstrap components: http://getbootstrap.com/components/#page-header
*/
@import '../vendors/bootstrap/less/bootstrap';
@import '../vendors/font-awesome/less/font-awesome';

// 1 - Imports to override bootstrap vars
/*
  Source code of Bootstrap components is available here
  https://github.com/twbs/bootstrap/tree/master/less
  customization of bootstrap (vars list) is here: http://getbootstrap.com/customize/#less-variables

*/
@import "1-tools/bp-vars";

// 2 - Imports from bootstrap components for overrides
/*
  Only modifying less properties for changing bootstrap default styling
  Need to override properties of bootstrap and avoid creating extra classes
*/
@import '_footer';

// 3 - Imports from to add custom properties to Bootstrap components ; 2 - section
/*
  Will add or override properties from default bootstrap to match the design
*/


// 4 - Imports to add css at a page level
/*
  Will add css properties based on a page
*/



// ************************************** //
// **************** FORM **************** //
// ************************************** //

//custom class: align blocks inline
.form-inline {
  display: inline;
  //width: 75%;
  > .form-control {
    width: 65%;
    min-width: 30%;
    max-width: 70%;
  }
}


// ************************************** //
// ********** CUSTOM OVERRIDES ********** //
// ************************************** //

// **************** WELL **************** //
.well {
  border: none;
  border-bottom: 4px solid @bp-lightgreen;
  > h5 {
    margin-top: 40px;
  }
}


// ************************************** //
// ******** BOOTSTRAP OVERRIDES ********* //
// ************************************** //

// ************ Thumbnail ************ //
.thumbnail {
  background-color: @bp-light-grey;
  border: none;
  border-bottom: 4px solid @bp-lightgreen;
  padding: 0px;
}

h1, h2, h3, h4, h5 {
  color: @bp-green;
}


// ********** Global overrides **********  //
/*
  Will override css globally here needs to be used as less as possible
*/
#future_mode {
  background-image: url(http://www.lorempixum.com/960/280);
}

.jumbotron {
  .caption {
    background-color: rgba(255,255,255, .8);
    padding: 20px;
    width: 30%;
  }
}
