/* Do not change @import order
 *********************************************
 ***************** RULES *********************

 ------------------- HTML ---------------------
 - Attributes order: class, id, name, data-*, src,
 for, type, href, value, title, alt, role, aria-*

 - Reduce markups where possible

 ------------------- CSS ---------------------
 - Use variables as much as you can without colliding with Bootstrap
 - Declaration order: Positioning, Box model, Typographic, Visual
 - Don't use @import in <style> tags but links
 - Media queries must be placed near CSS declarations
 - Prefixes will be handled by autoprefixer
 - Single declarations have break lines removed
 - Limit shorthand notations where it is not needed
 - Avoid nesting more than 3 levels deep for css specificity
 - Comment as much as you can
 - Classes: avoid using custom classes and use bootstrap as much as you can
 use dashes, lowercase, avoid, arbitrary annotation, short and succinct,
 meaningful names, structural or purposal names over presentational

 - Avoid deep specificity (nesting) when styling where possible
 - Use white space, breaks when commenting with a clear hierarchy
*/

//TODO load normalize
// 0 - Imports from bootstrap
/*
  Getting bootstrap framework to be used and overwritten as necessary to match styleguide
  Bootstrap components: http://getbootstrap.com/components/#page-header
*/

//reset web browsers default styling and configure
@import "1-tools/normalize";
@import "1-tools/styling-setup";
@import "1-tools/functions";

// bootstrap imports
@import '../vendors/bootstrap/less/bootstrap';
@import '../vendors/font-awesome/less/font-awesome';

// 1 - Imports to override bootstrap vars
/*
  Source code of Bootstrap components is available here
  https://github.com/twbs/bootstrap/tree/master/less
  customization of bootstrap (vars list) is here: http://getbootstrap.com/customize/#less-variables

*/
@import "1-tools/bp-vars";
@import "1-tools/bp-grid";
@import "1-tools/bp-text";
@import "1-tools/bp-forms";
@import "1-tools/bp-buttons";
@import "1-tools/textarea";
@import "1-tools/bp-dropdowns";


// 2 - Imports from bootstrap components for overrides
/*
  Only modifying less properties for changing bootstrap default styling
  Need to override properties of bootstrap and avoid creating extra classes
*/
@import '2-basics/bp-thumbnails';
@import '2-basics/bp-well';
@import '2-basics/bp-breadcrumbs';
@import '2-basics/bp-list-group';
@import '2-basics/bp-jumbotron';
@import '2-basics/bp-panels';
@import '2-basics/bp-media';


// 3 - Imports from to add custom properties to Bootstrap components ; 2 - section
/*
  Will add or override properties from default bootstrap to match the design
*/
@import '3-modules/navbar';
@import '3-modules/accordion';
@import '3-modules/tables';
@import '3-modules/footer';

// 4 - Imports to add css at a page level
/*
  Will add css properties based on a page
*/


// ************************************** //
// **************** FORM **************** //
// ************************************** //
//TODO Move custom classes into separate modules
/* .form-group from bootstrap
  class is not used in bootstrap but added to the bootstrap .form-group class to add extra styling not available within bootstrap
  custom class: align blocks inline
*/
.form-inline {
  display: inline;
  //width: 75%;
  > .form-control {
    width: 65%;
    min-width: 30%;
    max-width: 70%;
  }
}

//TODO Move into own modules
// ********** Global overrides **********  //
/*
  Will override css globally here needs to be used as less as possible
  CSS styling at a page level - homepage
*/
#future_mode {
  background-image: url(http://www.lorempixum.com/960/280);
}

/*
  Override custom bootstrap styling with the right brand color instead of global override
  bp-vars.less
  http://getbootstrap.com/customize/#less-variables
  var to override is @brand-primary within type.less
  https://github.com/twbs/bootstrap/blob/master/less/type.less
*/


// ********** custom class to override jumbotron **********
//technic 1: remove padding and margin to position at the base
//technic 2: position absolute and fixed height...
//technic 3: compoound selector

// debug clearfix
#yoyo {
  .block {
    width: 100%;
    background-color: black;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
      div {
        width: 45%;
        max-width: 49%;
        min-width: 30%;
        background-color: red;
        padding: 10px;
        margin:10px;
        display: inline-block;

        &:nth-child(1) {
          color: white;
          float: left;
        }
        &:nth-child(2) {
          color: yellow;
          float: right;
        }
      }
  }

}

//#container {
//  padding: 10px;
//  //margin: 10px;
//  background-color: blue;
//  //width: 100%;
//  color: white;
//  .row {
//    padding: 10px;
//    //margin: 10px;
//    background-color: red;
//    .col-md-4 {
//      padding: 10px;
//      //margin: 10px;
//      background-color: green;
//    }
//  }
//}

/*==================================================
 * Custom BP Dropshadow
 * ===============================================*/


.bp-box-shadow {
  width:100%;
  height:12px;
  background:#FFF;
  margin:0px auto 30px auto;
}

.bp-shadow {
  position:relative;
  //-webkit-box-shadow:0 0px 1px rgba(0, 0, 0, 0.1);
  //box-shadow:0 1px 0px rgba(0, 0, 0, 0.1);
  &:after {
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 40px rgba(0,0,0,0.3);
    box-shadow:0 0 10px rgba(0,0,0,0.3);
    bottom:0px;
    width:85%;
    height:50%;
    -moz-border-radius:100%;
    border-radius:100%;
    left:10%;
    right:10%;
  }
}


label {
  // adds custom markup to have styling for label and info text below
  > span {
    font-weight: normal;
    color: @bp-darkgrey;
  }
}

//TODO - Custom class to be replaced with a bootstrap .btn .btn-default ?
.upload-button {
  margin-top: 20px;
}
