
// *********************************************
// ***************** RULES *********************
//
// ------------------- HTML ---------------------
// - Attributes order: class, id, name, data-*, src,
// for, type, href, value, title, alt, role, aria-*
//
// - Reduce markups where possible
//
// ------------------- CSS ---------------------
// - Use variables as much as you can without colliding with Bootstrap
// - Declaration order: Positioning, Box model, Typographic, Visual
// - Don't use @import in <style> tags but links
// - Media queries must be placed near CSS declarations
// - Prefixes will be handled by autoprefixer
// - Single declarations have break lines removed
// - Limit shorthand notations where it is not needed
// - Avoid nesting more than 3 levels deep for css specificity
// - Comment as much as you can
// - Classes: avoid using custom classes and use bootstrap as much as you can
// use dashes, lowercase, avoid, arbitrary annotation, short and succinct,
// meaningful names, structural or purposal names over presentational
//
// - Avoid deep specificity (nesting) when styling where possible
// - Use white space, breaks when commenting with a clear hierarchy
//
// *********************************************



// Don't change the order of imports
//TODO Refactor SASS following BEM - http://markdotto.com/2015/07/20/css-nesting/

//TODO sass imports, use sass globbing for importing files instead of all directories 1 by 1: https://github.com/chriseppstein/sass-globbing

// -1- ****** Config & Default toolings ****** //
@import '1-tools/normalize'
//_global will import 'compass'
@import '1-tools/_global'
@import '1-tools/fonts'
@import '1-tools/vars'
@import '1-tools/functions'
@import '1-tools/mixins'
@import '1-tools/grids'

// -2- ****** Atoms & Organisms ****** //
@import '2-basics/body-element'
@import '2-basics/links'
@import '2-basics/typography'
@import '2-basics/example-buttons'
@import '2-basics/icons'
@import '2-basics/image'

// -3- ****** Molecules ****** //
//@import '3-modules/example-module-name-lockup'
//@import '3-modules/example-fork-tag'
//@import '3-modules/example-flex-video'
@import '3-modules/header'
@import '3-modules/main-section'
@import '3-modules/page-section'
@import '3-modules/footer-section'

// -4- ****** Sass at a page level - css for specific pages ****** //
//@import '4-pages/example-page-home'
@import '4-pages/homepage'

// -5- ****** Custom imports - asynchronous tasks in Gulp ****** //
@import '5-custom/fonticon'

//@import '1-tools/print'


// -5- ****** Global overrides - should be placed below ****** //
// test debug compass, lost, autoprefixer
// h1
//  color: blue
//  +border-radius(1px 3px 5px 7px, 2px 4px 6px 8px)
//  +box-shadow(rgba(blue, 0.4) 0 0 25px, rgba(green, 0.2) 0 0 3px 1px inset)
//  box-sizing: border-box
//  +transform-origin( 2deg, 2deg, 2deg, 3D-only )
//  +perspective( 5000 )



// Calls fontIcons icons (5-custom/_font.scss)
//body
//  font-family: icons

// overrides icons default font-size of '24px'
i
  font-size: 52px
  color: black


.caret
  +caret(left)

//a
//  margin: calc-em(1244px, 24px)

//h1
//  color: lighten($font1 , 50%)


//.fork-tag
//  position: absolute
//  top: 10px
//  right: -10px
//  background: $blue
//  color: white
//  padding: 2px 6px
//  transition: all 0.3s ease-in-out
//  transform-origin: top right
//
//  &:hover
//    color: white
//    animation: wiggle 0.4s linear 1
//
//@keyframes wiggle
//  0%
//    transform: rotate(0deg)
//  20%
//    transform: rotate(8deg)
//  50%
//    transform: rotate(-8deg)
//  80%
//    transform: rotate(8deg)
//  100%
//    transform: rotate(0deg)

$color-mono-list: 'section-1' 'section-2' 'section-3' 'section-4' 'section-5'
$color-mono-name: #7D7827, #FDF79B, #FDF14F, #7D7A4D, #CAC03F
$color-listing: zip($color-mono-list, $color-mono-name )


//.section
//@each $i in $color-mono-name
//  .section-#{$i}
//    background: $color-mono-name

@each $a in $color-listing
  .#{nth($a, 1)}
    background-color: tint(nth($a, 2), 90%)
    content: nth($a, 1)
    height: 500px

//.test-flex
//  // container needed for flexbox on safari
//  display: flex
//  align-items: flex-end
//  flex-wrap: wrap
//  align-content: flex-end
//  background-color: #0000AA
//  padding: 20px
//  margin: 20px
//  color: white


//  .flex-item-test
//    // items to be wrapped in a the flexbox
//    width: 25%
//    color: green
//    margin: 20px
//    background-color: red
//    padding: 20px
//    @media screen and (max-width: $m-screen)
//      width: 100%
//      background-color: yellow

.leading-section
  display: block

//h1
//  color: red
//  font-size: 60px
//  transform: rotate(20deg)
//  display: flex
